@page
@model BoincManagerWeb.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Messages</h1>

@await Html.PartialAsync("../Shared/_FilterFormPartial", Model.CurrentFilter)

<table class="table" id="messagesTable">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].MessageBody)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageBody)
                </td>
            </tr>
        }
    </tbody>
</table>

<environment include="Development">
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/messagesPage.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/messagesPage.min.js"></script>
</environment>