@page
@model BoincManagerWeb.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<table class="table" id="tasksTable">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].LastCheckpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Workunit)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @{
                        <div class="progress">
                            <div class="progress-bar" style="width:@item.Progress%">@item.Progress%</div>
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastCheckpoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workunit)
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/tasksPage.js"></script>