@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <h4>Host Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model.MachineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.MachineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model.WorkingSet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.WorkingSet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model.OSDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.OSDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model.OSArchitecture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.OSArchitecture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model.FrameworkDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.FrameworkDescription)
        </dd>
        <dt class="col-sm-2">
            SignalR
        </dt>
        <dd class="col-sm-10">
            <span id="signalRInfo"></span>
        </dd>
        <dt class="col-sm-2">
            Number of visitors on the site
        </dt>
        <dd class="col-sm-10">
            <span id="userNumber"></span>
        </dd>
    </dl>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/indexPage.js"></script>